html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  
  .title {
    color: white;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-bottom: 12rem;
    font-family: 'Unbounded';
  }
  
  .text {
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-family: 'Shadows into Light';
    margin-top: 20rem;
    position: relative;
    z-index: 100;
    pointer-events: none;
  }
  
  .buttonCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    opacity: 0;
  }
  
  .ram {
    z-index: 4;
  }

  .bag {
    z-index: 3;
  }
  
  .book {
    z-index: 2;
  }
  
  .camera {
    z-index: 1;
  }