.pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* top to bottom */
    align-items: center; /*secondary axis */
    text-align: center;
    padding: 1rem;
}

.title {
    color: white;
    font-size: clamp(3rem, 5vw, 5rem);
    margin-bottom: 12rem;
    font-family: 'Unbounded'
}

.text {
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-family: 'Shadows into Light';
    margin-top: 20rem;
}

/* .ramClickSpace {
    position: absolute;
    top: 6.5%; 
    left: 55%;
    width: 18%;
    height: 28%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    background-color: rgba(255, 255, 255, 30%);
    clip-path: polygon( 
        0% 0%, 100% 0%, 50% 100%
    );
}

.bagClickSpace {
    position: absolute;
    top: 48%; 
    left: 25%;
    width: 16%;
    height: 22%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    background-color: rgba(255, 255, 255, 30%);
    clip-path: polygon( 
        15% 10%, 50% 0%, 100% 50%, 100% 70%, 75% 95%, 35% 75%, 0% 40%
    );
} */