.pageContainer {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: clamp(3rem, 5vw, 5rem);
    font-family: 'Unbounded';
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.text {
    color: white;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family:'Space Grotesk';
}

.text2 {
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-family: 'Space Grotesk';
    margin: 0 auto;
    text-align: center;
}

.blackOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    pointer-events: none;
    transition: opacity 0.05s ease-out;
  }

  .scrollTracker {
    position: fixed;
    bottom: 20px;
    left: 50%;
    font-family: 'Space Grotesk';
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 1rem;
    z-index: 3;
    opacity: 50%;
  }

  .bioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20rem;;
    height: 50%;
    gap: 5rem;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }

  .profile {
    height: 20rem;
    margin-top: 2.5rem;
  }

  a {
    color: white;
    margin: 0;
    color: white;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-family: 'Space Grotesk';
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: flex-start;
    margin-left: 0;
  }

